nav {
    display: block;
    ul {
        display: inline;     /* possiamo scrivere anninando i selettori tra loro */
        background: yellow;
        border: 1px solid black;
    }
}
/* selettori nidificati*/
#main {
    p {                 /*è vincolato dai selettori che lo contengono e quindi non devo riscrivere il parent*/
        font-size:1.5em;
        margin-bottom:10px;
    }
    span {
        font-size: 1.2em;
    }
    a {
        color:red;
        text-decoration:none;
    }
}
#main2 {    /* annidiamo tutto */
    background-color: black;
    
    div {
        color: whitesmoke;
        padding: 5px;
        .red{
            color: wheat;
            a {
                text-decoration: none;
            }
        }
    }
}
.esempio {
    background-color: grey;
    h1 {
        color: rgb(12, 12, 12);
        font-size: 52px;   
               /* le mie classi diventano modulari, e possiamo inestare una classe dentro un'altra anche se su html non lo sono */
        .bottone {
            background-color: beige;
            color: black;
        } 
    }
}
#pippo {
    color: red;
    font-size: 1.5em;
    text-decoration: none;
    &:hover {   /* usiamo la keyword & quando non abbiamo la necessità di ripetere quella pseudo-classe */
        text-decoration: underline;
    }
}
.esempio2 {
    background-color: black;
    h1 {
        color: aquamarine;
        &:hover{font-size: 52px;}
    }
    .bottone {background-color: beige;}
}
.main3{
    background-color: antiquewhite;
    color: black;
    &-sidebar {
        border: 1px solid black;
        padding: 10px;
    }
    body.firefox & {    /* farà il line-heigh tu main3*/
        line-height: 1.5em;
    }
}
#main4 {
    font: {
        family: Georgia;
        size: 1.5em;
        weight:bold
    }
}